div#modal_front_content  {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  color: #434a54;
}
div#modal_front_content button {
  background: #9a7fda;
  border: 5px solid #9a7fda;
  color: #faebff;
  border-radius: 5px;
  margin-left: 75%;
  font-weight: 700;
}
.close_t:hover {
  background-color: #d4c9ef;
  border: 5px solid #d4c9ef;
  font-weight: 700;
  color: #434a54;
}

div#modal_front_content input {
  background: #e3dfec;
  border: 5px solid #e3dfec;
  color: #434a54;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 50%;
  margin-bottom: 5px;
  font-weight: 700;
}
textarea{
  background: #e3dfec;
  border: 5px solid #e3dfec;
  color: #434a54;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}
div#modal_front_content div {
  border: 2px;
  color: #faebff;
  font-weight: 700;
}
div#modal_front_content select {
  color: #434a54;
  font-weight: 700;
}
div#status{ height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  color: #434a54;
  justify-content: space-around;
  padding-bottom: 10px;
}
.dropdown {
  color: #434a54;
  font-weight: 700;
  padding: 2px;
}
#date{
  background: #e3dfec;
  border: 5px solid #e3dfec;
  color: #434a54;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 50%;
  margin-bottom: 5px;
  font-weight: 700;
}
.form-control {
  border: #e3dfec;
  background: #e3dfec;
  color: #434a54;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
}
select {
  background-color: #fff;
  border: 1px solid #caced1;
  color: #000;
  cursor: pointer;
}
option {
  background-color: #dfd7f0;
  border: 1px solid #dfd7f0;
  color: #000;
  cursor: pointer;
  border-radius: 8%;
  border: 5px solid #dfd7f0;
  opacity: 0.8;
}