html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  width: 100%;
}

#all {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 35px;
  width: 95%;
  height: 95%;
}

header {
  display: flex;
  width: auto;
  padding: 12px 45px;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 20px 0px rgba(44, 57, 121, 0.09);
  justify-content: space-between;
  color: #434a54;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 10px;
}
#hedr_left {
  display: flex;
  justify-content: space-evenly;
  padding-right: 20%;
  align-items: center;
}
#hedr_right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#heder_logo img {
  height: 50px;
  padding-right: 35px;
}

#exit_heder {
  display: block;
  padding: 5px 25px;
  justify-content: space-between;
  gap: 8px;
  color: var(--gray-white, #5d636d);
  border-color: #e3dfec;
  border-radius: 5px;
  border-style: initial;
  text-decoration: none;
  border: 5px;
  line-height: 135%;
}

#exit_heder:hover {
  color: var(--gray-white, #a196bd);
}

#exit_heder:active {
  color: var(--gray-white, #646974);
}
select {
  background: #e3dfec;
  border: 5px solid #e3dfec;
  color: #434a54;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
}
select:hover {
  background-color: #d4c9ef;
  border: 5px solid #d4c9ef;
}

.modal_task {
  background: #e3dfec;
  border: 5px solid #e3dfec;
  color: #434a54;
  border-radius: 5px;
  margin: 5px 25px;
  font-style: normal;
  font-weight: 700;
}
.modal_task:hover {
  background-color: #d4c9ef;
  border: 5px solid #d4c9ef;
}

#body_main {
  display: flex;
  width: auto;
  padding: 40px 24px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 20px 0px rgba(44, 57, 121, 0.09);
  justify-content: center;
  margin: 10px;
}

#table_main {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table_main tr:nth-child(even) {
  background-color: #d4c9ef;
}

#table_main tr:hover {
  background-color: #d4c9ef;
}

#table_main th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #967adc;
  color: white;
}
